* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #fff;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.card p {
  margin: 20px 0;
}

.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card button:hover {
  cursor: pointer;
}
